TELEGRAM_TOKEN=your_telegram_bot_token
GEMINI_API_KEY=your_gemini_api_key
HEATER_ID=your_tuya_device_id
HEATER_IP=192.168.x.x
HEATER_KEY=your_tuya_local_key
FOGGER_ID=your_tuya_device_id
FOGGER_IP=192.168.x.x
FOGGER_KEY=your_tuya_local_key
